<app-header />
<div class="mx-2 my-5">

    <div class="row mx-5">
        <!-- filter section -->
        <div class="col-lg-3">
            <h4>Filter</h4>
            <button (click)="getAllRecipes()" class="btn mt-5">All</button>
            <br>
            <!-- cuisine dropdown menu -->
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Cuisine Type
            </button>
            <div class="collapse my-2" id="collapseExample">
                <!-- duplicate cuisine -->
                @for (cuisine of cuisineArray; track $index) {
                <button (click)="filterRecipe('cuisine',cuisine)" class="btn">{{cuisine}}</button>
                }
            </div>
            <br>
            <!-- meal type dropdown menu -->
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                Meal Type
            </button>
            <div class="collapse my-2" id="collapseExample1">
                <!-- duplicate cuisine -->
                @for (meal of mealTypeArray; track $index) {
                <button (click)="filterRecipe('mealType',meal)" class="btn">{{meal}}</button>
                }
            </div>

        </div>
        <div class="col-lg-9">
            <!-- heading -->
            <div class="d-flex justify-content-between align-items-center">
                <h3>All Recipes</h3>
                <input [(ngModel)]="searchKey" type="text" placeholder="Search your Recipe here"
                    class="form-control w-50">
            </div>

            <!-- content -->
            <div class="row my-5">
                <!-- duplicate -->

                @for (recipe of allRecipes | search:searchKey | paginate: { itemsPerPage: 8, currentPage: p }; track $index) {
                <div class="col-lg-3 my-2">
                    <div (click)="navigateView(recipe._id)" class="p-3 shadow rounded">
                        <img width="100%" [src]="recipe.image" alt="recipe" class="card-img-top">
                        <div class="card-body text-center">
                            <h6 class="card-title mt-3">{{recipe.name}}</h6>
                            <p>{{recipe.cuisine}}</p>
                        </div>
                    </div>

                </div>
                }

                @if((allRecipes | search:searchKey).length==0)
                {
                <p class="text-center my-5 fw-bold">Recipe Not Found!!!</p>
                }

            </div>

            <div class="mb-3 text-center">
                <!-- pagination control -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>

    </div>


</div>
<app-footer />